#### Pandas Series:.unique() & .nunique()

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('location.csv', squeeze = True)
location_data = data.copy()
location_data.head(50)

0       Location 3
1       Location 6
2       Location 8
3      Location 26
4      Location 34
5      Location 34
6      Location 25
7      Location 46
8     Location 156
9      Location 21
10     Location 13
11     Location 25
12    Location 579
13    Location 602
14     Location 10
15     Location 44
16     Location 25
17     Location 44
18     Location 26
19     Location 30
20     Location 48
21    Location 196
22     Location 64
23     Location 91
24     Location 62
25     Location 75
26     Location 26
27     Location 42
28    Location 233
29     Location 95
30     Location 78
31     Location 25
32      Location 6
33     Location 61
34     Location 87
35     Location 19
36      Location 8
37    Location 115
38    Location 350
39    Location 377
40     Location 17
41    Location 113
42     Location 42
43    Location 602
44     Location 81
45     Location 58
46    Location 212
47     Location 53
48     Location 46
49      Location 3
Name: Location, dtype: object

In [4]:
type(location_data)

pandas.core.series.Series

In [5]:
location_data.describe()

count            1043
unique            296
top       Location 25
freq               31
Name: Location, dtype: object

In [19]:
s = location_data.unique()
s

array(['Location 3', 'Location 6', 'Location 8', 'Location 26',
       'Location 34', 'Location 25', 'Location 46', 'Location 156',
       'Location 21', 'Location 13', 'Location 579', 'Location 602',
       'Location 10', 'Location 44', 'Location 30', 'Location 48',
       'Location 196', 'Location 64', 'Location 91', 'Location 62',
       'Location 75', 'Location 42', 'Location 233', 'Location 95',
       'Location 78', 'Location 61', 'Location 87', 'Location 19',
       'Location 115', 'Location 350', 'Location 377', 'Location 17',
       'Location 113', 'Location 81', 'Location 58', 'Location 212',
       'Location 53', 'Location 337', 'Location 41', 'Location 632',
       'Location 73', 'Location 214', 'Location 218', 'Location 38',
       'Location 172', 'Location 197', 'Location 101', 'Location 185',
       'Location 129', 'Location 235', 'Location 142', 'Location 50',
       'Location 76', 'Location 11', 'Location 33', 'Location 22',
       'Location 145', 'Location 203', 'Location 94', 'Location 573',
       'Location 27', 'Location 186', 'Location 4', 'Location 70',
       'Location 45', 'Location 262', 'Location 111', 'Location 84',
       'Location 108', 'Location 7', 'Location 74', 'Location 450',
       'Location 47', 'Location 37', 'Location 43', 'Location 286',
       'Location 89', 'Location 24', 'Location 97', 'Location 144',
       'Location 40', 'Location 128', 'Location 169', 'Location 399',
       'Location 23', 'Location 191', 'Location 178', 'Location 510',
       'Location 600', 'Location 188', 'Location 67', 'Location 49',
       'Location 29', 'Location 222', 'Location 386', 'Location 88',
       'Location 104', 'Location 405', 'Location 114', 'Location 259',
       'Location 182', 'Location 12', 'Location 228', 'Location 149',
       'Location 90', 'Location 109', 'Location 441', 'Location 421',
       'Location 641', 'Location 195', 'Location 20', 'Location 161',
       'Location 117', 'Location 200', 'Location 106', 'Location 31',
       'Location 122', 'Location 541', 'Location 495', 'Location 193',
       'Location 39', 'Location 9', 'Location 86', 'Location 107',
       'Location 198', 'Location 318', 'Location 135', 'Location 177',
       'Location 32', 'Location 591', 'Location 488', 'Location 418',
       'Location 587', 'Location 454', 'Location 543', 'Location 489',
       'Location 60', 'Location 52', 'Location 548', 'Location 15',
       'Location 240', 'Location 658', 'Location 209', 'Location 151',
       'Location 192', 'Location 364', 'Location 18', 'Location 503',
       'Location 482', 'Location 460', 'Location 71', 'Location 69',
       'Location 258', 'Location 204', 'Location 124', 'Location 168',
       'Location 35', 'Location 296', 'Location 136', 'Location 28',
       'Location 153', 'Location 99', 'Location 132', 'Location 427',
       'Location 118', 'Location 127', 'Location 159', 'Location 154',
       'Location 175', 'Location 120', 'Location 82', 'Location 152',
       'Location 56', 'Location 282', 'Location 566', 'Location 365',
       'Location 353', 'Location 66', 'Location 2', 'Location 323',
       'Location 473', 'Location 206', 'Location 57', 'Location 68',
       'Location 166', 'Location 1', 'Location 227', 'Location 79',
       'Location 642', 'Location 105', 'Location 644', 'Location 547',
       'Location 637', 'Location 59', 'Location 574', 'Location 529',
       'Location 554', 'Location 275', 'Location 589', 'Location 160',
       'Location 410', 'Location 146', 'Location 221', 'Location 265',
       'Location 569', 'Location 157', 'Location 648', 'Location 165',
       'Location 651', 'Location 266', 'Location 77', 'Location 158',
       'Location 336', 'Location 72', 'Location 463', 'Location 253',
       'Location 5', 'Location 431', 'Location 515', 'Location 226',
       'Location 140', 'Location 110', 'Location 202', 'Location 634',
       'Location 138', 'Location 217', 'Location 443', 'Location 627',
       'Location 123', 'Location 528', 'Location 357', 'Location 187',
       'Location 315', 'Location 112', 'Location 302', 'Location 194',
       'Location 332', 'Location 208', 'Location 179', 'Location 199',
       'Location 201', 'Location 174', 'Location 474', 'Location 184',
       'Location 63', 'Location 512', 'Location 403', 'Location 436',
       'Location 210', 'Location 468', 'Location 464', 'Location 98',
       'Location 102', 'Location 325', 'Location 267', 'Location 173',
       'Location 617', 'Location 141', 'Location 300', 'Location 216',
       'Location 506', 'Location 647', 'Location 402', 'Location 239',
       'Location 54', 'Location 137', 'Location 477', 'Location 586',
       'Location 472', 'Location 374', 'Location 458', 'Location 180',
       'Location 653', 'Location 16', 'Location 612', 'Location 505',
       'Location 631', 'Location 299', 'Location 65', 'Location 342',
       'Location 155', 'Location 511', 'Location 461', 'Location 244',
       'Location 207', 'Location 597', 'Location 352', 'Location 533',
       'Location 384', 'Location 80', 'Location 171', 'Location 143',
       'Location 576', 'Location 139', 'Location 125', 'Location 181'],
      dtype=object)

In [12]:
v = pd.Series(s)

In [13]:
type(v)

pandas.core.series.Series

In [14]:
v.describe()

count              296
unique             296
top       Location 632
freq                 1
dtype: object

In [18]:
location_data.nunique()

296

### Converting Series into Arrays (.values, .array, .to_numpy())

In [20]:
import numpy as np

In [22]:
prices_per_item = pd.Series(
{'Product A': 3400,
'Product B': 1600,
'Product C': 3430})
prices_per_item

Product A    3400
Product B    1600
Product C    3430
dtype: int64

In [25]:
prices_per_item.values

array([3400, 1600, 3430], dtype=int64)

In [27]:
type(prices_per_item.values)

numpy.ndarray

In [28]:
prices_per_item.array

<PandasArray>
[3400, 1600, 3430]
Length: 3, dtype: int64

In [29]:
type(prices_per_item.array)

pandas.core.arrays.numpy_.PandasArray

In [30]:
series_ndarray = prices_per_item.values

In [38]:
series_ndarray.mean()

2810.0

In [39]:
series_pdarray = prices_per_item.array

In [42]:
series_pdarray.min()

1600

In [49]:
series_numpy = prices_per_item.to_numpy

In [50]:
print(series_numpy)

<bound method IndexOpsMixin.to_numpy of Product A    3400
Product B    1600
Product C    3430
dtype: int64>

#### Pandas Series: .sort_values()

In [55]:
numbers = pd.Series([15, 1000, 23, 45, 556])
numbers

0      15
1    1000
2      23
3      45
4     556
dtype: int64

In [56]:
numbers.sort_values()

0      15
2      23
3      45
4     556
1    1000
dtype: int64

In [57]:
numbers.sort_values(ascending=False)

1    1000
4     556
3      45
2      23
0      15
dtype: int64

### `Attribute and Method Chaining`

In [58]:
location_data

0        Location 3
1        Location 6
2        Location 8
3       Location 26
4       Location 34
           ...
1038    Location 73
1039    Location 82
1040    Location 11
1041    Location 26
1042    Location 94
Name: Location, Length: 1043, dtype: object

In [59]:
location_data.index

RangeIndex(start=0, stop=1043, step=1)

In [61]:
location_data.name = "Favour"

In [62]:
location_data.name

'Favour'

In [68]:
location_data.sort_values().head(50)

637       Location 1
884       Location 1
465       Location 1
716      Location 10
623      Location 10
56       Location 10
298      Location 10
542      Location 10
329      Location 10
1010     Location 10
522      Location 10
904      Location 10
946      Location 10
14       Location 10
202      Location 10
922      Location 10
912      Location 10
65      Location 101
759     Location 102
232     Location 104
165     Location 104
180     Location 104
1028    Location 105
942     Location 105
474     Location 105
997     Location 106
203     Location 106
224     Location 107
422     Location 108
104     Location 108
493     Location 108
181     Location 109
792      Location 11
657      Location 11
629      Location 11
871      Location 11
1040     Location 11
832      Location 11
968      Location 11
125      Location 11
289      Location 11
920      Location 11
477      Location 11
750      Location 11
231      Location 11
75       Location 11
595     Location 110
101     Location 111
1007    Location 111
182     Location 111
Name: Favour, dtype: object

In [67]:
location_data.head().sort_values()

3    Location 26
0     Location 3
4    Location 34
1     Location 6
2     Location 8
Name: Favour, dtype: object

In [70]:
location_data.tail(50).sort_values()

1010     Location 10
1028    Location 105
997     Location 106
1040     Location 11
1007    Location 111
1027    Location 113
1030    Location 125
1008     Location 13
1026    Location 139
1012    Location 143
1033    Location 181
1032     Location 19
1005    Location 197
1029      Location 2
1023     Location 22
1009     Location 22
1017     Location 23
1022     Location 25
1041     Location 26
1001     Location 29
996      Location 29
999       Location 3
1031     Location 30
1035     Location 30
994     Location 350
993      Location 39
1037      Location 4
1016     Location 44
1013     Location 44
995      Location 45
1014     Location 46
1024     Location 47
1011     Location 50
998      Location 53
1019     Location 57
1020    Location 576
1021      Location 6
1036     Location 60
1004     Location 61
1003     Location 62
1015     Location 69
1000     Location 73
1038     Location 73
1018      Location 8
1039     Location 82
1025     Location 84
1002     Location 86
1034     Location 87
1006     Location 91
1042     Location 94
Name: Favour, dtype: object

#### Pandas Series: .sort_index()

In [71]:
data2 = pd.read_csv('Region.csv', squeeze = True)
region_data = data2.copy()
region_data

0       Region 2
1       Region 6
2       Region 3
3       Region 2
4       Region 3
          ...
1037    Region 6
1038    Region 1
1039    Region 4
1040    Region 6
1041    Region 6
Name: Region, Length: 1042, dtype: object

In [76]:
region_data.sort_values().head(20).index

Int64Index([462, 347, 609, 610, 339, 337, 139, 620, 348, 147, 150, 865, 641,
            645, 847, 163, 843, 629, 129, 892],
           dtype='int64')

In [80]:
scattered_region_data = region_data.sort_values()

In [81]:
scattered_region_data

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

In [83]:
scattered_region_data.sort_index().head(60)

0      Region 2
1      Region 6
2      Region 3
3      Region 2
4      Region 3
5      Region 1
6      Region 5
7      Region 6
8      Region 9
9      Region 6
10     Region 6
11     Region 3
12     Region 3
13     Region 7
14     Region 2
15     Region 3
16     Region 6
17     Region 6
18     Region 6
19     Region 1
20     Region 4
21    Region 12
22     Region 2
23     Region 6
24     Region 2
25     Region 1
26     Region 4
27     Region 6
28     Region 2
29     Region 3
30     Region 6
31     Region 5
32     Region 2
33     Region 6
34     Region 1
35     Region 6
36     Region 3
37     Region 4
38     Region 6
39     Region 6
40     Region 6
41     Region 2
42     Region 4
43     Region 6
44     Region 2
45     Region 2
46     Region 6
47     Region 6
48     Region 7
49     Region 3
50     Region 1
51     Region 6
52     Region 1
53     Region 6
54     Region 6
55     Region 6
56     Region 2
57     Region 6
58     Region 6
59     Region 6
Name: Region, dtype: object