# Pandas Assignment

import pandas as pd
import numpy as np

In [ ]:
# Create a panda data series from the lists below. Using countries as Index and Capitals as values
countries = ['USA', 'USSR', 'Japan', 'Italy']
capitals = ['Washington', 'Moscow', 'Tokyo', 'Milan']

In [ ]:
# Give the panda series a name "WW2 Countries and Capitals"

In [ ]:
# Get the Value for the capital of Japan

In [15]:
start_date_deposits = pd.Series({'Nigeria':510.588,
                                 'Egypt':435.621,
                                 'South Africa':426.166,
                                 'Algeria':193.601,
                                 'Morocco':133.062,
                                 'Angola':124.862,
                                 'Kenya':114.679,
                                 'Ethiopia':105.325,
                                 'Tanzania':77.506,
                                 'Ghana':73.894,
                                 'Ivory Coast':73.047,
                                 'Democratic Republic of the Congo':64.795,
                                 'Libya':48.773,
                                 'Uganda':46.377,
                                 'Cameroon':45.713})

#### The above data series contains some countries in Africa and their GDP in billions of dollars, calculate the following:
1) Mean
2) Mode
3) Median
4) The index of the lowest value
5) The highest value

#### Given the data above:
1) Get the first 3 items in the series
2) Get the last 5 items in the series
2) Get the index of the last 4 items in the series

#### Replicate the DataFrame below:
1) from a dictionary of lists
2) from a list of dictionaries
3) the professional way

,Books,Authors,First Published
A,A Tale of Two Cities,Charles Dickens,1859
B,The Little Prince,Antoine de Saint-Exupéry,1943
C,Harry Potter and the Philosopher's Stone,J. K. Rowling,1997
D,And Then There Were None,Agatha Christie,1939
E,Dream of the Red Chamber,Cao Xueqin,1791
F,"The Lion, the Witch and the Wardrobe",C. S. Lewis,1950
G,The Da Vinci Code,Dan Brown,2003