## Lists

In [1]:
type([89, 45, 34])

list

In [7]:
stuff = ["hello", 2.5, 145, [78, "Hi"], (78), {"78":"Hi"}]
type(stuff)

list

In [3]:
stuff[2]

145

In [4]:
len(stuff)

6

In [5]:
stuff[5]

{'78': 'Hi'}

In [6]:
stuff[6]

IndexError: list index out of range

In [8]:
"hello" in stuff

True

In [9]:
'hi' in stuff

False

In [10]:
"hi" not in stuff

True

In [12]:
students = ["Bayo", "Osibanjo", "Tinubu"]
"Bayo" in students

True

### List Operators

In [13]:
class1 = ["Ray", "Ngozi", "Joel", "Peter", "Paul"]
class2 = ["Nzubechi", "Vivian", "Gift", "Tosin", "Pius", "Ikenna"]
main_class = class1 + class2
print(main_class)

['Ray', 'Ngozi', 'Joel', 'Peter', 'Paul', 'Nzubechi', 'Vivian', 'Gift', 'Tosin', 'Pius', 'Ikenna']

In [19]:
[0, 1, 2] * 3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

### List slicing

In [17]:
a_list = ["a", "b", "c", "d", "e"]
a_list[1:4]

['b', 'c', 'd']

In [24]:
a_list[3:]

['d', 'e']

### Lists are mutable

In [25]:
class1 = ["Ray", "Ngozi", "Joel", "Peter", "Paul"]
class1[2] = "Ikenna"
print(class1)

['Ray', 'Ngozi', 'Ikenna', 'Peter', 'Paul']

In [26]:
del class1[-1]
print(class1)

['Ray', 'Ngozi', 'Ikenna', 'Peter']

### List Methods

In [32]:
class2 = ["Nzubechi", "Vivian", "Gift", "Tosin", "Pius", "Ikenna"]
class2.append("Messi")   #append to add another element to the end of your list
class2

['Nzubechi', 'Vivian', 'Gift', 'Tosin', 'Pius', 'Ikenna', 'Messi']

In [33]:
class2.extend(class1) # extend is used to add another list to an existing list
class2

['Nzubechi',
 'Vivian',
 'Gift',
 'Tosin',
 'Pius',
 'Ikenna',
 'Messi',
 'Ray',
 'Ngozi',
 'Ikenna',
 'Peter']

In [34]:
class2.remove("Messi")
class2

['Nzubechi',
 'Vivian',
 'Gift',
 'Tosin',
 'Pius',
 'Ikenna',
 'Ray',
 'Ngozi',
 'Ikenna',
 'Peter']

In [36]:
class2.sort()
class2

['Gift',
 'Ikenna',
 'Ikenna',
 'Ngozi',
 'Nzubechi',
 'Peter',
 'Pius',
 'Ray',
 'Tosin',
 'Vivian']

In [37]:
class2.insert(3, "Uzoma")
class2

['Gift',
 'Ikenna',
 'Ikenna',
 'Uzoma',
 'Ngozi',
 'Nzubechi',
 'Peter',
 'Pius',
 'Ray',
 'Tosin',
 'Vivian']

## Tuples

In [38]:
musician = ("Davido", 1991, ["If", "Jowo"])

In [39]:
musician[0]

'Davido'

In [41]:
musician[0] = "Tekno"

TypeError: 'tuple' object does not support item assignment

In [48]:
name, dob, songs = musician

In [44]:
name

'Davido'

In [45]:
dob

1991

In [46]:
songs

['If', 'Jowo']

In [51]:
people = "James", "Peter", "Paul", "Peter"
people.count("Peter") # count is used to check the number of occurences of an element

2

In [52]:
people.index("Paul") # index is used to check the particular index of an element

2

In [53]:
len(musician)

3

In [54]:
people = list(people)
people

['James', 'Peter', 'Paul', 'Peter']

## Dictionaries

In [55]:
my_dog = {'name':'Tiger', 'color':('Black', 'Brown'), 'age':4, 'breed':'Dobberman'}

In [56]:
my_dog['name']

'Tiger'

In [57]:
my_dog['color']

('Black', 'Brown')

In [58]:
my_dog['age'] = 5

In [59]:
my_dog

{'name': 'Tiger', 'color': ('Black', 'Brown'), 'age': 5, 'breed': 'Dobberman'}

### keys(), values() and items() methods

In [62]:
my_dog.keys()

dict_keys(['name', 'color', 'age', 'breed'])

In [63]:
my_dog.values()

dict_values(['Tiger', ('Black', 'Brown'), 5, 'Dobberman'])

In [64]:
my_dog.items()

dict_items([('name', 'Tiger'), ('color', ('Black', 'Brown')), ('age', 5), ('breed', 'Dobberman')])

### Dictionary membership

In [65]:
'name' in my_dog

True

In [66]:
'age' in my_dog.keys()

True

In [67]:
'height' in my_dog.keys()

False

In [69]:
'Tiger' in my_dog.values()

True

### get() method

In [70]:
print("The name of Uzoma's dog is " + my_dog['name'])

The name of Uzoma's dog is Tiger

In [71]:
print("The height of Uzoma's dog is " + my_dog['height'])

KeyError: 'height'

In [76]:
print("The age of Uzoma's dog is", my_dog.get('age', 2))

The age of Uzoma's dog is 5

In [77]:
print("The height of Uzoma's dog is " + my_dog.get('height', '3 feet'))

The height of Uzoma's dog is 3 feet

In [78]:
my_dog

{'name': 'Tiger', 'color': ('Black', 'Brown'), 'age': 5, 'breed': 'Dobberman'}

### setdefault() method

In [79]:
print("The height of Uzoma's dog is " + my_dog.setdefault('height', '3 feet'))

The height of Uzoma's dog is 3 feet

In [80]:
my_dog

{'name': 'Tiger',
 'color': ('Black', 'Brown'),
 'age': 5,
 'breed': 'Dobberman',
 'height': '3 feet'}

In [81]:
del my_dog['height']

### Sets

In [84]:
my_set = {"apples", "banana", "cherry"}
type(my_set)

set

In [85]:
set2= {"apples", "banana", "cherry", "banana"}
set2

{'apples', 'banana', 'cherry'}

In [86]:
list1 =  [23, 45, 67, 76, 56, 45, 45, 23]
set1 = set(list1)
set1

{23, 45, 56, 67, 76}

In [87]:
list2 = list(set1)
list2

[67, 76, 45, 23, 56]

In [88]:
set1.add(100)

In [89]:
set1

{23, 45, 56, 67, 76, 100}